{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    
    <h1>ALL POST</h1>

    {% if user.is_authenticated %}

        <div class="border border-primary">
            <h2>New Post</h2>

            <form id="compose-form">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="compose-content" rows="3"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>

    {% endif %}
    
    <!-- Posts -->
    {% for post in page_obj %}
        {# Each "contact" is a Contact model object. #}
        <div id="posts" class="border border-primary">
            <h2>{{ post.user.username }}</h2>
            <a href="http://">Edit</a>
            <p>{{ post.content }}</p>
            <p>{{ post.date | date:'M, d, Y, H:i' }}</p>
            <p>0</p>
            <p>Comment</p>
    
        </div>
    {% endfor %}

    <!-- <div id="posts-view"></div> -->

    <div id="content"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}