{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- Profile -->
    <div class="profile">
        <img src="{%  static 'network/batman.png' %}">
        <h2>{{ profile }}</h2>
    
        {% if user.is_authenticated %}
            {% if user.username != profile.username %}
                {% if followingEachOther %}
                <button id="follow" class="follow-button">Follow</button>
                {% else %}
                <button id="follow" class="follow-button">Unfollow</button>
                {% endif %}
            {% endif %}
        {% endif %}
        
        
    </div>

    <!-- Follow items -->
    <div class="follow">
        <div>
            <h5>Post</h5>
            <p>{{ post_count }}</p>
        </div>
        <div>
            <h5>Followers</h5>
            <p>{{ totalfollowing }}</p>

        </div>
        <div>
            <h5>Following</h5>
            <p>{{ totalfollower }}</p>
        </div>
    </div>

    <!-- Posts -->
    <h2>Me Posts</h2>
    {% for post in page_obj %}
        {# Each "contact" is a Contact model object. #}
        <div id="posts" class="border border-primary">
            <h2><a href="{% url 'profile' username=post.user %}">{{ post.user.username }}</a></h2>
            <p><a href="http://">Edit</a></p>
            <p>{{ post.content }}</p>
            <p>{{ post.date | date:'M, d, Y, H:i' }}</p>
            <p>{{ post.num_likes }}</p>
            <button id="comment" >Comment</button>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}