#compose-form , #posts{
    margin: 20px;
    border: 1px solid black;
    /* padding-block: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1{
    padding-left: 20px;

}

nav#pagination{
    padding-right: 20px;
}

/* PROFILE */
.profile{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile img{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  margin: 20px;
}
.profile h2{
	margin-top: -10px;
	font-size: 1.3rem;
}

/* Followers / Following / Post */
.follow{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: 30px auto;
	text-align: center;
	border-bottom: 2px solid #ECEEEF;
	padding-bottom: 20px;
}

img.profile{
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 30px;
    border-radius: 50%;
  }